[Bb]in/
[Oo]bj/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
.vs/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.psess
*.vsp
*.vspx
*.sap
*.e2e
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
.DS_Store
[Tt]humbs.db
